.headingXl {
        font-size: 3.6rem;
        color: #000;


}

.headingLg {
        font-size: 2.4rem;
        color: #000;
}

.headingMd {
        background-color: var(--primary);
        color: #000;
}.label{
        color: #000;
}
.profileImage{
      
        display: flex;
        justify-content: center;
         align-items: center;
}
.creatBtn1{
        color: white;
        margin-top: 30px;
        width: 140px;
        height: 50px;
        background-color: red;
        border-radius: 8px;
       
}.creatBtn2{
        color: white;
        margin-top: 30px;
        margin-left: 70px;
        width: 140px;
        height: 50px;
        background-color: green;
        border-radius: 8px;
      
        
}
.Buttondiv{
        display: flex;
        justify-content: center;
         align-items: center;
}
.form{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.box {
        width: 40%;
}
