.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.preIcon {
    margin-right: 8px;
    display: flex;
    align-self: center;
}
.sufIcon {
    margin-left: 8px;
}