.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
}
.preIcon {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.sufIcon {
    display: flex;
    align-items: center;
    margin-left: 8px;
}