.container{
    width:100%;
    display:flex;
    justify-content: center;
}
.form{
    width: 50%
}
.missing {
    border-style: solid;
    border-color: #FF4747 !important;
}

.missing+svg {
    border-color: #FF4747 !important;
}