.modal {
    min-width: 80%;
}
  .modalHeader {
    padding: 20px 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    .titleModal {
        font-size: 1.5rem;
        font-weight: 300;
        color: #414a57;
        text-align: center;
    }
}
.bodyModal {
    padding: 20px 30px;
    font-size: 13px;
    input {
        outline: none;
        background: #fff;
        border: 1px solid #dbdbdb;
    }
}
.bodyHeader {
    font-size: 1.2rem;
}
.saveBtn {
    width: 100%;
    background-color: #b6e685;
    background-image: none;
    color: #27313d;
    font-weight: 400;
    transition: 0.3s all ease-in-out;
    font-size: 20px;
    margin: 0 !important;
    padding: 20px 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.footerModal {
    padding: 0 !important;
}