.dropdownItem {
    display: flex;
    flex-wrap: wrap; 
    align-content: center;
    padding-left: 10px;
    margin-bottom: 0.2rem;
}
.dropdownItem:hover{
    background-color: #2864FF;
    color: white;
}