
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

button {
  background-color: transparent;
  border-style: none;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  width: 100vw;
  height: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
}
.offcanvas.show {
  width: 80%;
  padding-top: 0.5rem;
  padding-right: 2rem;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
