.wrapper {
  width: 90%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    
}
.addBtn {
    background-color: var(--primary);
    color: var(--white);
    padding: var(--default-padding-vertical) var(--default-padding-horizontal);
    border-radius: 8px;
    &:hover {
        background-color: #0744e1;
    }

}
//per page
.perPage {
    display: flex;
    span {
        margin: 0 8px;
    }

}
