.sidebar {
    width: 23%;
    background-color: #d7e2ff;
    padding-top: 1rem;
    height: auto;
}

.sidebarButtonMenu {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 5rem;
    font-size: 1rem;
}

.sidebarButtonMenu a {
    text-decoration: none;
    color: black;
}

.sidebarButtonMenu a.active {
    color: blue
}

@media screen and (max-width: 1400px) {
    .sidebar {
        visibility: hidden;
        width: 0;
    }

}

.sidebarBody {
    margin-top: 3rem;
}

button.sidebarButton{
    position: relative;
    height: 4rem;
    width: 100%;
    border-radius: 0 2rem 2rem 0;
    transition: all ease .5s;
    background-color: transparent;
    color: black;
    border-color: transparent;
    font-size: 1.4rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 1.5rem;
    font-weight: 400;
}

button.sidebarButton svg {
    margin-right: 10px;
}

button.sidebarButton img {
    margin-right: 10px;
}

button.sidebarButton svg path {
    fill: black;
}

button.sidebarButton:hover {
    /* width: 110%; */
    color: white !important;
    background-color: #2864FF;
    padding-left: 2.5rem;
    font-weight: bold;
}

button.sidebarButton:hover svg path {
    fill: white;
}

button.current {
    color: white;
    background-color: #2864FF;
    padding-left: 2.5rem;
    font-weight: bold;
}

button.current svg path {
    fill: white;
}

a.currentItemMenu {
    text-decoration: underline;
    color: blue;
}

.drawer {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: bold;
    width: 100%;
    margin-top: 1.2rem;
}
button.drawerButton {
    height: fit-content;
    display: none;
    flex-wrap: wrap;
    background-color: transparent;
    border-style: hidden;
    visibility: hidden;
    margin-left: 2rem;
}

@media screen and (max-width: 1400px) {
    .header {
        margin-bottom: 0;
        margin-top: 0;
    }
    button.drawerButton{
        visibility: visible;
        display: flex;
    }
}
@media screen and (max-width: 400px) {
    .sidebarButtonMenu{
        padding: 0 3rem
    }
}
